@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	.center-fixed {
		transform: translate(-50%, -50%);
	}
	.lightbox-open {
		filter: blur(2px) brightness(50%);
		width: 100vw;
		pointer-events: none;
		overflow: hidden;
	}
	.comment-grow {
		flex-grow: 5;
	}
}
